# the directory these scripts are installed eg: /home/user/backend
export BASE_DIR=
# reddit client id, secret, username & password
export CLIENT_ID=
export CLIENT_SECRET=
export USERNAME=
export PASSWORD=
# password to redis instance
export REDIS_PASSWORD=
